<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>HOJA DE VIDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #dcd1d1;">

  <ion-grid>
    <ion-row>
      <ion-col size="1">

      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-img style="width: 150px; height: 250px; margin-left: 30;" src="./assets/icon/20230627083139.png">
          </ion-img>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-item color="primary">DATOS PERSONALES</ion-item>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Nombre:</strong> Elkin Fernando Cortes Aguilar</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Correo Electronico </strong>elkinfer.cortes@gmail.com</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Dirección: </strong>Calle 73 A bis sur # 14y-26</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Celular: </strong>3214724479</p>
      </ion-col>
      <ion-col size="1">
        <!-- Contenido de la cuarta columna -->
      </ion-col>
    </ion-row>
  </ion-grid>
  



  <ion-item color="primary">PERFIL PROFESIONAL</ion-item>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"> Soy una persona de actitud positiva, de fácil
    adaptación a cualquier entorno de trabajo, alto
    grado de responsabilidad, compromiso y lealtad con mis deberes, proactivo,
    hombre de familia, emprendedor, sociable y con deseo de superación constante a
    nivel personal, profesional y laboral. En cuanto a mi formación académica, soy
    tecnólogo en Gestión de redes de Datos con capacidad para resolver problemas de
    forma oportuna y precisa. </p>



  <ion-item color="primary">FORMACION</ion-item>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Tecnólogo en Gestión de Redes de Datos.</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Actualmente realizando en el SENA el tecnólogo en Análisis y Desarrollo de Software</h2>
      </ion-label>
    </ion-item>
  </ion-list>  

  <ion-item color="primary">EXPERENCIA LABORAL</ion-item>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">MICROLINK S.A.S(TÉCNICO DE SERVICIOS Y PRODUCCIÓN)</h2>
        <h2 style="color: rgb(9, 8, 8);">* Instalación de redes de fibra óptica. </h2>
        <h2 style="color: rgb(9, 8, 8);">* Conectorización y fusión de fibra óptica. </h2>
        <h2 style="color: rgb(9, 8, 8);">* Instalación y armado de ODF para fibra óptica.</h2>
        <h2 style="color: rgb(9, 8, 8);">* Alistamiento, pelado, enhebrado y crimpado de patchcord en fibra óptica.</h2>
        <h2 style="color: rgb(9, 8, 8);">* Pulido de conectores de fibra óptica </h2>
        <h2 style="color: rgb(9, 8, 8);">* Certificación de patchcord de fibra óptica</h2>  
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">GLOBAL NETWORK SYSTEMS S.A.S(COORDINADOR LOGÍSTICA,SOPORTE TÉCNICO)</h2>
        <h2 style="color: rgb(9, 8, 8);">* Cotizacion de los diferentes dispositivos y elementos (materiales y/o herramientas)
           requeridos para los diversos proyectos.</h2>
        <h2 style="color: rgb(9, 8, 8);">* Distribución de equipos y elementos.</h2>
        <h2 style="color: rgb(9, 8, 8);">* Instalación, configuración y puesta en funcionamiento de los diferentes sistemas
           (DTI, CCTV, Redes de voz y datos,sonido, controles de acceso).</h2>
        <h2 style="color: rgb(9, 8, 8);">* Soporte al usuario final en cuanto a los sistemas instalados (cableado estructurado,
           circuito cerrado de televisión, control de acceso, control biométrico).</h2>
        <h2 style="color: rgb(9, 8, 8);">* Visitas técnicas, recolección de información para la ejecución de nuevos proyectos.
        </h2>
        <h2 style="color: rgb(9, 8, 8);">* Instalación, configuración de dispositivos activos de red, seguridad, telefonía IP y control
           de acceso.
        </h2>
        <h2 style="color: rgb(9, 8, 8);">* Mantenimiento preventivo y correctivo a los sistemas de cableado estructurado, circuito cerrado 
          de televisión,controles de acceso, control biométrico, redes de datos.</h2>
        
        
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title  style="text-align: center;">HABILIDADES</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Perceptivo</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Analista</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Buen compañero y con capacidad de trabajo
                   independiente y en equipo.</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">De fácil adaptación a los cambios. </h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Recursivo, comprometido y entusiasta.</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Facilidad para seguir instrucciones y generar 
                  resultados orientados a la calidad.</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item  color="primary"> PROYECTOS
        <ion-toggle [(ngModel)]="showProjects"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="showProjects">
        <!-- Elemento a mostrar para Proyectos -->
        <ion-row justify-content-center align-items-center>
          <ion-col size="6" class="ion-text-center">
            <img src="./assets/icon/Certificado de Redes-1.png" alt="Imagen 1" width="100%">
          </ion-col>
        </ion-row>
        
        
        
      </ion-item>

      <br>
    
      <ion-item color="primary">  MULTIMEDIA 
        <ion-toggle [(ngModel)]="showMultimedia"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="showMultimedia">
        <!-- Elemento a mostrar para Multimedia -->
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <!-- Video 1 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/LatorN4P9aA" frameborder="0" allowfullscreen></iframe>
            </ion-col>
            <ion-col size="4">
              <!-- Video 2 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/duyi3KWe5es" frameborder="0" allowfullscreen></iframe>
            </ion-col>
            <ion-col size="4">
              <!-- Video 3 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/FjV8SHjHvHk" frameborder="0" allowfullscreen></iframe>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
      </ion-item>
    </ion-list>
  
  </ion-content>
  </ion-content>
  

    

  
 











  
 



  